{% extends 'layout.html' %}
{% block title %}Info about {{ movie.title }} {% endblock %}

{% block content %}

<div class="row p-4 p-md-5 my-4 mb-4 text-white rounded bg-dark">
    <div class="col-12 col-lg-6">
      <h1 class="display-4 fst-italic">{{ movie.title }}</h1>
      <p class="lead my-2">Año: {{ movie.crew }}.</p>
      <p class="lead my-2"> Ranking de IMDb: {{ movie.imDbRating }} </p>
      <p class="lead mb-2"> {{ movie.year }} </p>
      <p class="lead mb-2">Tipo: {{ data.type }} </p>
      <p class="lead mb-2">Duración: {{ data.runtimeStr }} </p>
      <p class="lead mb-2"> {{ data.plot }} </p>
      <p class="lead mb-2"> Premios: {{ data.awards }} </p>

    </div>
    <div class="col-12 col-lg-6">
        <img src="{{ data.image }}" class="my-2 img-fluid border" width="400px" alt="...">
    </div>
  </div>


<div class="container mt-5 mb-5">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <div class="card">
          <div class="p-3">
            <h6>Comentarios ({{ total }})</h6>
          </div>

            {% if "loggedin" in session %}
            <form action="{{ url_for('comment_create') }}" method="post">
              <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">

                <img src="../static/img/icon.jpg" width="50" class="rounded-circle mr-2">
                  <input type="hidden" name="account_id" value="{{ session['id'] }}">
                  <input type="hidden" name="movie_id" value="{{ movie.id }}">
                <input type="text" name="message" class="form-control mx-2" placeholder="Enter your comment...">
                <div class="d-grid gap-2 mx-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-primary me-md-2" type="submit">Comentar</button>
                </div>

              </div>
             </form>
            {% else %}
                <div class="d-grid gap-2 col-6 mx-auto">
                  <a href="{{ url_for('login') }}" class="btn btn-primary" type="button">Login for comment</a>
                </div>
            {% endif %}

          <div class="mt-2">
              {% for comment in comments %}
                    <div class="d-flex  flex-row p-3 border-bottom border-top">
                      <img src="../static/img/icon.jpg" width="40" height="40" class="rounded-circle mr-3">
                      <div class="w-100 mx-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                              <span class="mr-2 mx-2 h5">{{ comment.username }}</span>
                            </div>
                            <small>{{ comment.created_at }}</small>
                      </div>
                      <p class="text-justify comment-text mx-2  mb-0">{{ comment.message }}</p>
                      <div class="d-flex flex-row user-feed">
                        <span class="wish mx-2 my-2"><i class="fa fa-heartbeat mr-2"></i>24</span>
                      </div>
                    </div>
                  </div>
              {% endfor %}
          </div>
      </div>
    </div>
    </div>
</div>

{% endblock %}