{% extends 'layout.html' %}
{% block title %}Resultados{% endblock %}
{% block content %}

    <div class="row mb-2">
        <h1 class="my-3">Resultado</h1>
        <hr>
        {% for movie in movies %}
            <div class="col-12 col-lg-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                  <h3 class="mb-0">{{ movie.title }}</h3>
                  <div class="mb-1 text-muted">{{ movie.year }}</div>
                  <p class="card-text mb-auto">{{ movie.crew }}.</p>
                  <a href="info_movie/{{ movie.id }}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto  d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="{{ movie.image }}">
                </div>
              </div>
            </div>
        {% endfor %}
      </div>


{% endblock %}